<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Topdesk.Endpoint" value="usatopdesktrial1.topdesk.net"/>
    <add key="Topdesk.Operator.Username" value="anniel62"/>
    <add key="Tokdesk.Operator.Password" value="nt5bbvCiq7Qv"/>
    <add key="Topdesk.Login.Endpoint" value="http://{0}/tas/api/login/operator"/>
    <add key="Topdesk.Incidents.Endpoint" value="https://{0}/tas/api/incidents?closed=false&completed=false&creation_date_start={1}&start={2}&page_size={3}&$fields=id,number,status,caller.id,caller.dynamicName,caller.branch.timeZone,timeSpent,creator.id,creator.name,creationDate"/>
    <add key="Topdesk.Incidents.PageSize" value="100"/>
    <add key="Incidents.SLA.Hours" value="3.5"/>
  </appSettings>
</configuration>